body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
header {
    text-align: center;
    padding: 20px;
    background-color: #1abc9c;
    color: white;
}
section {
    padding: 20px;
}
.hospital-image {
    width: 100%;
    
}
.messages {
    text-align: center;
    margin-top: 20px;
}
.address {
    margin-top: 20px;
}
.offer {
    text-align: center;
    margin-top: 20px;
    background-color: #3498db;
    color: white;
    padding: 10px;
}
h1{
    text-align: left;
}